
@{
    ViewData["Title"] = "Most Excellent Form";
}

    <h2>@ViewData["Title"]</h2>
    <h3>Do a thing, guy.</h3>
    <form name="theForm" action="formsubmit">
        <input name="formput" id="formput" placeholder="a word dood" value="" />
        <label for="formput">Give us a word</label>
        <button>Submit!</button>
    </form>
